.inventory-synchronous {
    position: relative;
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    height: 100%;
    .operation-btn {
        color: #1890ff;
        cursor: pointer;
        margin-left: 15px;
    }
    .info {
        margin: 20px 0;
    }
    .ant-alert-info {
        background: #f0f7ff;
        border: 1px solid #bbd7ff;
        color: #2e3336;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .save-btn {
        position: absolute;
        left: 50%;
        bottom: -130px;
        transform: translate(-100%);
    }
    .basis-ipt {
        width: 400px;
        display: flex;
        margin-top: 20px;
        text-align: right;
        color: #797979;
        span {
            width: 100px;
            line-height: 40px;
        }
        input {
            width: 150px;
        }
    }
}
.footer-render {
    display: flex;
    justify-content: space-between;
}
.set-warning-inputs {
    display: flex;
    .setting-ipt {
        display: flex;
        text-align-last: left;
        margin-right: 25px;
        span {
            color: #202020;
            line-height: 30px;
        }
        input {
            width: 100px;
        }
    }
}
.footer-input {
    display: flex;
}
.ant-modal-footer {
    display: flex;
    justify-content: space-between;
    border-top: none !important;
    padding-top: 0 !important;
    align-items: center;
    height: 70px;

    box-shadow: 0px -2px 6px 0px rgba(214, 214, 214, 0.5);
    .footer-inputs {
        display: flex;
        width: 300px;
        .setting-ipt {
            display: flex;
            span {
                width: 80px;
                padding-top: 5px;
            }
        }
    }
}
.ant-transfer-list-body {
    height: 380px;
    overflow: auto !important;
}
.special-category {
    margin-top: 30px;
}

.special-stock-title {
    display: flex;
    border: 1px solid #eee;
    padding: 8px 20px;
    border-top: none;
    align-items: center;
    span:first-child {
        flex: 2;
    }
    span:nth-child(2) {
        flex: 1;
    }
    span:nth-child(3) {
        flex: 1;
    }
    .del-btn {
        color: #8b939c;
        cursor: pointer;
    }
    input {
        width: 80px;
    }
}
.stock-bg {
    background: #f8f8fa;
    border-radius: 8px 8px 0 0;
    border: none;
    padding: 10px 20px;
}
.ant-transfer-list {
    padding-top: 10px;
    .ant-transfer-list-header {
        display: none;
    }
}
.select-special-category {
    &-title {
        display: flex;
        margin-bottom: 10px;
        span {
            flex: 1;
            text-align: center;
        }
    }
}
.check-special-stock-dialog {
    .ant-modal-body {
        padding-top: 0;
        position: relative;
        height: 500px;
        overflow: auto;
    }
}

.ant-modal-header {
    margin-bottom: none !important;
    border-bottom: none !important;
}
.none-data {
    text-align: center;
    font-size: 16px;
}
.select-tree,
.select-items {
    flex: 1;
    height: 400px;
    overflow: auto;
    padding: 20px;
}
.select-harder {
    display: flex;
    justify-content: space-around;
}
.select-content {
    display: flex;
}
